* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Rubik, sans-serif;
    font-style: normal;
    min-width: 375px; /* добавим минимальную ширину */
    background: #c2b4c0;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px; /* меняем высоту на минимальную высоту для медиазапросов */
    gap: 30px;
}

h1 {
    color: #363940;
    font-size: 32px;
    margin-bottom: 30px;
}

h2 {
    color: #671b5e;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    transition: 0.2s;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background: #d13939;
    font-size: 14px;
    text-transform: uppercase;
}

.wrap-restore {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20%;
    padding: 20px 10px 0;
    background-color: #e6bee4;
}

.btn:hover {
    animation: Btn 2s ease-in-out;
}

.btn:not(:hover) {
    animation: BtnOut 2s ease-in-out;
}

#restore:hover {
    transform: translateY(-5px); /* чтобы кнопки при наведении немного подпрыгивали вверх */
}

#dog {
    width: 300px;  
    height: 300px; 
}

#restore {
    width: 100px;
    height: 100px;
    background: url(./assets/images/pata.gif) no-repeat;
    border: none;
    margin: 0 auto;
}

@keyframes Btn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes BtnOut {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}